.DS_Store
**/data/**
**/local/**

# -------------------------
# PYTHON
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.so
*.dll

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# MLflow
mlruns/
mlartifacts/

# Optuna/SQLite локальные базы
*.sqlite
optuna.db

# Сервисные каталоги/кэши
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Прочее шумное
*.log

*.pkl
*.npz
*.npy